{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
{% for bot in object_list %}
    <div class="col-md-4">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
              <h3 class="widget-user-username">{{bot.name}}</h3>
              <h5 class="widget-user-desc">Summary for {% now 'F' %}</h5>
            </div>
            <div class="widget-user-image">
              <img class="img-circle" src="{% static 'img/default-profile.png' %}" alt="User Avatar">
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">
                    {{bot.get_current_actuals}} / {{bot.get_current_projected}}</h5>
                    <span class="description-text">Total messages this Month</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">
                    {{bot.get_total_actuals}} / {{bot.get_total_projected}}</h5>
                    <span class="description-text">Total messages since May 2017</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                  <div class="description-block">
                    <h5 class="description-header">35</h5>
                    <span class="description-text">PRODUCTS</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.widget-user -->
        </div><!-- /.col -->
{% empty %}
    Oh no! There are no bot's yet. Quick, create one!
{% endfor %}

</div>
{% endblock %}
